<h2 mat-dialog-title>Add Allocation</h2>

<mat-dialog-content>
    <p *ngIf="addAllocationError!=''" style="color: red">{{addAllocationError}}</p>
    <!-- <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Employee CEC Email Id</mat-label>
        <input id="userId" #userName="ngModel"  [(ngModel)]="userId"  required matInput placeholder="Please enter CEC email id">
    </mat-form-field> -->
    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Initiative Id</mat-label>
        <input id="initId"  [(ngModel)]="initId"  required matInput placeholder="Initiative Id">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Choose a start date</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="startTime">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose an end date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="endTime">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    <mat-form-field style="width:35%;margin-right: 10px" (click)="getAvailableEmployees()">
        <mat-label>Select Employee</mat-label>
        <mat-select name="selectedEmployee" [(ngModel)]="selectedEmployee" >
            <mat-option *ngFor="let employee of employeeList" [value]="employee" >
                {{employee.fullName}}
            </mat-option>
        </mat-select> 
    </mat-form-field> 
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button class="mat-button mat-primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>