<!-- <app-header></app-header> -->

<button mat-raised-button color="primary" (click)="addAllocation()">Add Allocation</button>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of parentColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="parentColumns.length">
      <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' && populateEmployeeTable(element) : 'collapsed'">

        <table mat-table [dataSource]="childDataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

          <!-- FullName Column -->
          <ng-container matColumnDef="FullName">
            <th mat-header-cell *matHeaderCellDef> FullName </th>
            <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
          </ng-container>

          <!-- Initiative Column -->
          <ng-container matColumnDef="Initiative">
            <th mat-header-cell *matHeaderCellDef> Initiative </th>
            <td mat-cell *matCellDef="let element"> {{element.Initiative}} </td>
          </ng-container>

          <!-- StartTime Column -->
          <ng-container matColumnDef="StartTime">
            <th mat-header-cell *matHeaderCellDef> StartTime </th>
            <td mat-cell *matCellDef="let element"> {{element.StartTime}} </td>
          </ng-container>

          <!-- EndTime Column -->
          <ng-container matColumnDef="EndTime">
            <th mat-header-cell *matHeaderCellDef> EndTime </th>
            <td mat-cell *matCellDef="let element"> {{element.EndTime}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="childColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: childColumns;"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="parentColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: parentColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>