<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened position="start" style="width: 250px;">
        <img style="margin-left: 50px; margin-top: 10px;margin-bottom: 5px"
            src="../assets/cisco-png-logo-3765-256x256.ico" width="120px" height="80px" />
        <h2 style="margin-left: 50px">One Track</h2>
        <span class="toolbar-spacer"></span>
        <mat-nav-list>
            <a mat-list-item [ngClass]="{activePage : active=='dashboard'}" (click)="active='dashboard';titleShow='Dashboard'">
                <span matLine>
                    Dashboard
                </span>
                <mat-icon>dashboard</mat-icon>
            </a>
            <a mat-list-item [ngClass]="{activePage : active=='employee'}" (click)="active='employee';titleShow='Employees'">
                <span matLine>Employees </span>
                <mat-icon>face</mat-icon>
            </a>
            <a mat-list-item [ngClass]="{activePage : active=='initiative'}" (click)="active='initiative';titleShow='Initiatives'">
                <span matLine>Initiatives </span>
                <mat-icon>task</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z6 toolbar1">
            <h3><b>{{titleShow}}</b></h3>
            <span class="toolbar-spacer" style="flex: 1 1 auto;"></span> 
            <button mat-icon-button class="example-icon" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>

        <div *ngIf="active=='employee'">
            <app-employee></app-employee>
        </div>

        <div *ngIf="active=='dashboard'">
            <app-dashboard></app-dashboard>

        </div>
        <div *ngIf="active=='initiative'">
            <app-initiative></app-initiative>
        </div>





    </mat-sidenav-content>
</mat-sidenav-container>