<h2 mat-dialog-title>Add Initiative</h2>

<mat-dialog-content>

    <p *ngIf="addInitiativeError!=''" style="color: red">{{addInitiativeError}}</p>
    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Initiative ID</mat-label>
        <input id="initId" #initativeId="ngModel"  [(ngModel)]="initId" [disabled]="isEditMode==true"  required matInput placeholder="Please enter Initiative ID">
    </mat-form-field>

    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Description</mat-label>
        <textarea id="initDesc" #iniDesc="ngModel"  [(ngModel)]="initDesc" matInput placeholder="Enter Initiative Details"></textarea>
    </mat-form-field>

    <mat-form-field style="width:35%;margin-right: 10px" *ngIf="isEditMode==true">
        <mat-label>Select Status</mat-label>
        <mat-select name="selectedStatus" [(ngModel)]="selectedStatus" #statusSelect="ngModel" >
            <mat-option *ngFor="let st of statusList" [value]="st" >
                {{st}}
            </mat-option>
        </mat-select> 
        
    </mat-form-field> 
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button class="mat-button mat-primary" (click)="onSaveClick()"  >Save</button>
</mat-dialog-actions>