<h2 mat-dialog-title>Add Employee</h2>

<mat-dialog-content>
    <p *ngIf="addEmployeeError!=''" style="color: red">{{addEmployeeError}}</p>
    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Employee CEC Email Id </mat-label>
        <input id="userId" #userName="ngModel"  [(ngModel)]="userId"  required matInput placeholder="Please enter CEC email id">
    </mat-form-field>
    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Full Name</mat-label>
        <input id="empName" #fullName="ngModel"  [(ngModel)]="empName"  required matInput placeholder="Enter Employee Full name">
    </mat-form-field>
    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Select Employee Role</mat-label>
        <mat-select name="employeeRoles" [(ngModel)]="employeeRoles" #roleSelect="ngModel"> 
            <mat-option *ngFor="let role of rolesList" [value]="role.id" >
                {{role.value}}
            </mat-option>
        </mat-select> 
    </mat-form-field>
    <mat-form-field style="width:35%;margin-right: 10px">
        <mat-label>Select Manager</mat-label>
        <mat-select name="selectedManger" [(ngModel)]="selectedManger" #managerSelect="ngModel" >
            <mat-option *ngFor="let manager of managerList" [value]="manager.id" >
                {{manager.fullName}}
            </mat-option>
        </mat-select> 
    </mat-form-field> 
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button class="mat-button mat-primary" (click)="onSaveClick()"  >Save</button>
</mat-dialog-actions>