 
  .example-card{
    margin:0 auto;
    display:inline-block;
    width:40%;
}
  .example-full-width {
    width: 100%;
  } 
  .loginCI {
      border: 1px;
      width: 100%;
  }

  .email-error {
      color: red
  }

  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }