<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Welcome to OneTrack</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput #emailAddress (keyup.enter)="onEnterEmailAddress(emailAddress.value)"
                    placeholder="Ex. userid@cisco.com">
                <mat-hint class="email-error" *ngIf="isEmailNotExists">Email not exists in system. Please contanct your
                    manager.</mat-hint>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button class="loginCI" mat-raised-button color="primary" (click)="onCLickLoginCI(emailAddress.value)">Login
                With Cisco CI</button>

        </mat-card-actions>
    </mat-card> 
</div>