<button mat-button mat-raised-button color="primary" (click)="onAddInitiativeClick()">Add Initiative</button>
  <mat-card style="max-height: 75% !important;overflow-y: scroll">
    <mat-card-header>
      <mat-card-subtitle style="color:black;font-size: 14px">
        Initiative
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container ">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="initiativeId">
            <th mat-header-cell *matHeaderCellDef> Initiative Id </th>
            <td mat-cell *matCellDef="let element"> {{element.initiativeId}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="initiativeDesc">
            <th mat-header-cell *matHeaderCellDef> Initiative Description </th>
            <td mat-cell *matCellDef="let element"> {{element.initiativeDesc}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              
              <button style="color:blue" mat-icon-button class="example-icon" (click)="openEditInitiativeDialog(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button style="color:red" mat-icon-button class="example-icon" (click)="deleteInitiative(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </div>
    </mat-card-content>
  </mat-card>
