/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.toolbar-spacer {
    flex: 1 1 auto;
}
body { 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  margin: 0;
}
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
.error-snack {
  background: rgb(228, 82, 82);
  color: rgb(24, 18, 18);
  text-align: center;
  font-weight: bold;
}
.success-snack {
  background: rgb(91, 209, 91);
  color: rgb(24, 18, 18);
  text-align: center;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(78, 77, 77)
}

.step-container {
  margin-top: 20px;
  margin-left: 35%;
  
  text-align: left;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
  background: red;
}