<mat-form-field style="width:20%">
  <mat-label>Select Manager</mat-label>
  <mat-select name="selectedManger" [(ngModel)]="selectedManger" #managerSelect="ngModel"
    (selectionChange)="onManagerSelect($event,managerSelect.value)">
    <mat-option *ngFor="let manager of managerList" [value]="manager.id">
      {{manager.fullName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button mat-raised-button color="primary" (click)="openAddEmployeeDialog()">Add Employee</button>

<mat-card style="max-height: 75% !important;overflow-y: scroll">
  <mat-card-header>
    <mat-card-subtitle style="color:black;font-size: 14px">
      Employees
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container ">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef> Employee UserId </th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Employee Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="employeeRole">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeRole}} </td>
        </ng-container>

        <!-- ManagerId Column -->
        <ng-container matColumnDef="managerId">
          <th mat-header-cell *matHeaderCellDef> ManagerId </th>
          <td mat-cell *matCellDef="let element"> {{element.managerId}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
  </mat-card-content>
</mat-card>